

/*COTIZADOR*/
p,
tr {
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #000000;
}

table {
  width: 100%;
  margin: 0 auto;
}

.td1 {
  width: 50%;
  text-align: left;
  padding-left: 20px;
}

.td2 {
  width: 40%;
  text-align: right;
}

.contenido {
  width: 380px;
  margin: 10px 20px 20px 10px;
  background: #f5f5f6;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 28px 28px 28px 28px;
  -moz-border-radius: 28px 28px 28px 28px;
  -webkit-border-radius: 28px 28px 28px 28px;
  border: 0px solid #232121;
}

header,
img {
  margin: 0 auto;
  width: 200px;
}

.frame {
  width: 100%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-1 {
  transition: all 0.3s ease;
}
.btn-1:hover {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

.btn-3 {
  line-height: 40px;
  padding: 0;
  background: transparent;
  position: relative;
  z-index: 2;
  color: #fff;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.btn-3:hover {
  color: #000;
}
.btn-3:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 0.3s ease;
}
.btn-3:hover:after {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.btn-2 {
  background: rgb(1, 104, 231);
  color: #fff;
  z-index: 1;
}
.btn-2:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: #fefeff;
  transition: all 0.3s ease;
}
.btn-2:hover {
  color: #000;
}
.btn-2:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-2:active {
  top: 2px;
}

/*FORMULARIOS*/
:root {
    --colorTextos: #49454567;
}


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #e6e6e8;
    background: -webkit-linear-gradient(to right, #f7f5f7, #c1cffc);
    background: linear-gradient(to right, #f9f6f9, #fafbfc);
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-weight: 10;
}

form{
    background: rgb(241, 240, 244);
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 45px ;
}

input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}



input:focus{ 
    outline: none;
    color: #5e5d5d;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #2487f0, #4568DC);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #ec0e0e;
    padding-top: 20px;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    background: -webkit-linear-gradient(to right, #1f2122, #4568DC);
    background: linear-gradient(to right, #4431e9, #4568DC);
    border-radius: 10px;
    border-color: rgb(5, 5, 6);
    display: block;
    width: 100%;
    margin: 10px auto;
    color: rgb(244, 237, 237);
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width:500px){
    form{
        width: 80%;
    }
}

